@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: scroll;
}


#nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

button, input, footer, #instruction {
	font-family: 'Raleway', sans-serif;
}

#nav .searchInput {
	width: 200px;
	margin: 15px 10px 0 0;
}
#nav .navitem {
	margin: 15px 10px 0 0;
	width: 75px;
}

#leftnav{
	font-family: 'Pacifico', sans-serif;
	font-size: 12pt;
}
#rightnav {
	font-size: 20pt;
	font-family: 'Pacifico', sans-serif;
}
#container {
	padding: 50px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: top;
}

.box {
	height: 200px;
	width: 200px;
	border-radius: 10px;
	margin: 0 20px 40px 20px;
	padding: 15px 15px 40px 15px;
	box-shadow: 10px 10px 20px #d1d1d1;
	background-color: white;
	border: solid 1px #ededed;
	animation: fadein 3s ease-in;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding-left: 2px;
}
footer {
	background-color: white;
	display: flex;
	justify-content: center;
	padding: 20px;
	font-size: 9pt;
	bottom: 0;
}

#instruction {
	font-size: 14pt;
	color: #b0b0b0;
	animation: fadein 2s;
}